<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">

<!-- Styles -->
<!--link rel="stylesheet" href="{{ ('assets/bootstrap/dist/css/bootstrap.min.css') }}"-->

@livewireStyles

<link rel="stylesheet" href="/resources/css/main.css">

<!-- Scripts -->
<script src="/resources/js/app.js"></script>
<!--script src="{{ ('assets/bootstrap/js/dist/toast.js') }}"></script-->
<script src="/resources/js/autohide.js"></script>
<!--script src="{{ ('assets/bootstrap/dist/js/bootstrap.bundle.js') }}"></script-->
